ul.task-list li {
  list-style: none;
  height: 22px;
  overflow: visible; }
  ul.task-list li.done span {
    text-decoration: line-through;
    color: gray; }
  ul.task-list li > input[type="text"] {
    margin: 0px;
    border: dotted 1px gray;
    padding: 0px 2px; }
  ul.task-list li > span {
    margin: 1px;
    padding: 0px 2px; }
  ul.task-list li.ng-animate {
    transition: 1s all; }
  ul.task-list li.ng-enter, ul.task-list li.ng-leave.ng-leave-active {
    opacity: 0;
    margin-left: 400px;
    height: 0px; }
  ul.task-list li.ng-leave, ul.task-list li.ng-enter.ng-enter-active {
    opacity: 1;
    margin-left: 0;
    height: 22px; }
